{% extends "invitation/base.html" %}

{% block content %}
<div class="d-flex align-items-center mt-2">
    <h1 class="mr-auto">Invitation List</h1>
    <div>
        <a class="btn btn-success" href="{% url 'invitation-send' %}">Send Invitation(s)</a>
        <a class="btn btn-primary" href="{% url 'invitee-add' %}">Add</a>
    </div>
</div>
<hr class="mt-0 mb-4">
{% if invitee_list %}
<ul class="list-group">
    {% for invitee in invitee_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ invitee.first_name }} {{ invitee.last_name }} ({{ invitee.email }})
        <a href="{% url 'invitee-delete' invitee.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{%endif %}
{% endblock %}